/*External CSS*/

body{
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Century Gothic;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.wrapper{
	background-color: white;
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px solid red;
	border-bottom: 10px solid red;
}
.header{
	padding: 20px;
}
.nav{
	border-top: 1px solid black;
	border-bottom: 	1px solid black;
}
.nav ul{
	margin: 0;
	padding: 10px 0;
}
.nav ul li{
	list-style-type: none;
	display: inline-block;
}
.nav ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 10px;
	padding: 10px;
}
.nav ul li a.active{
	color: red;
}
.nav ul li a:hover{
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	background-color: red;
}
.banner{
	width: 100%;
	height: 250px;
}
.banner img{
	width: 100%;
	height: 250px;
}
.main{
	min-height: 500px;
}
.left-side-bar{
	width: 190px;
	float: left;
	border: 1px solid black;
	min-height: 50px;
	margin: 10px 10px 10px 0;
}
.left-side-bar h2{
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: red;
}
.left-side-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.left-side-bar ul li{
	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
}
.left-side-bar ul li a{
	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.left-side-bar ul li a:hover{
	color: red;
}
.content{
	width: 550px;
	float: left;
	min-height: 500px;
	margin: 10px;
}
.content h1{
	padding: 0;
	margin: 0;
	color: red;
	font-size: 30px;
	border-bottom: 1px dotted black;
}
.content h2{
	color: red;
}
.content p{
	text-align: justify;
	line-height: 1.5;
}
.right-side-bar{
	width: 210px;
	float: right;
	border: 1px solid black;
	height: 292px;
	margin: 10px 0 10px 10px;
}
.right-side-bar ul{
	margin: 0;
	padding: 0px;
}
.right-side-bar ul li{
	list-style-type: none;
}
.right-side-bar ul li img{
	width: 100%;
}
.footer{
	clear: both;
	border-top: 1px solid black;
	padding: 10px;
	text-align: center;
}
.footer p{
	font-weight: bold;
}
.footer a.policy{
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.footer a.policy:hover{
	font-weight: bold;
	color: red;
	text-decoration: underline;
}
.footer img{
	padding: 0;
	margin: 0;
}